<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'main_page' %}">Home</a></li>
            <li><a href="{% url 'author_list' %}">Authors</a></li>
            <li><a href="{% url 'category_list' %}">Categories</a></li>
            <li><a href="{% url 'post_list' %}">Posts</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'user_logout' %}">Выйти с аккаунтa</a>
        {% else %}
        <a href="{% url 'user_login' %}">Вoйти в аккаунт</a>
        {% endif %}
    </div>
</body>
</html>