<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Author</h1>
    <p>{{ category.name }}</p>
    <p>{{ category.description }}</p>
    <h4>Posts:</h4>
    {% for post in category.post_set.all %}
    <ul>
        <li>----</li>
        <li>{{ post.id }}</li>
        <li>{{ post.title }}</li>
        <li>{{ post.content }}</li>
        <li>{{ post.author.name }}</li>
        <li>Дата {{ post.pub_date }}</li>
    </ul>
    {% endfor %}
    <p><a href="{% url 'category_update' pk=category.pk %}"></a>Update</p>
    <p><a href="{% url 'delete_category' pk=category.pk %}"></a>Delete</p>
</body>
</html>